@model List<Model.EF.ProductCategory>


<ul>
    <h3>Danh Mục Sản Phẩm</h3>
    @foreach (var item in Model.Where(x => x.ParentID == 0))
    {
        var child = Model.Where(x => x.ParentID == item.ID);
        var parentClass = child.Count() > 0 ? "class=dropdown-toggle dropdown-toggle-split data-toggle=dropdown" : "";

        <li class="dropdown">
            <a href="/san-pham/@item.MetaTitle-@item.ID" @parentClass>@item.Name</a>
            @if (child.Count() > 0)
            {
                <ul>
                    <li class="dropdown-menu">
                        @foreach (var childItem in child)
                        {
                            <a href="/san-pham/@childItem.MetaTitle-@childItem.ID">@childItem.Name </a>
                        }

                    </li>
                </ul>
            }

        </li>
    }
</ul>
